GENERAL:
  buffer_blocks: 21 # How many blocks before Epoch to trigger (1 block = 10seconds)
  enable_tmux: False # Enables tmux statusbar 
  min_peers: 8 # Minimum number of peers to be considered healthy

  auto_stake_rewards: True
  auto_reclaim_full_restakes: True

  pwd_var_name: "MY_WALLET_PASSWORD"  # NAME OF THE ENVIRONMENT VARIABLE WITH THE PASSWORD! DO_NOT_ PUT IN YOUR DAMN PASSWORD HERE, FFS!
                                    # Make sure you read the instructions on exporting the environment variable
  use_sudo: True # Only needs to be set true if you need to use sudo to run your ruskquery and rusk-wallet commands.

NOTIFICATIONS:
  discord_webhook:     # Insert webhook to activate. Example: https://discord.com/api/webhooks/xxxxxxxxxx/XXXXXXXXX
  pushbullet_token:    # Leave Blank to Disable
  telegram_bot_token:  # Leave Blank to Disable
  telegram_chat_id:    # Leave Blank to Disable
  pushover_user_key:   # Leave Blank to Disable
  pushover_app_token:  # Leave Blank to Disable


