VIEWER: # ONLY needed if using this for the remote viewer script
  viewer_ip: 127.0.0.1   # The remote IP/hostname to connect to.
  viewer_port: 5000  # The remote port to connect to. 
  
#   NOTE: STATUSBAR SECTION BELOW CAN ALSO (OPTIONALLY) USED FOR VIEWER SCRIPT TMUX     #
#   Nothing else needed for Viewer only script. Will separate into its own file later   #
 #######################################################################################

GENERAL:
  buffer_blocks: 40 # How many blocks before Epoch to trigger (1 block = 10seconds)
  enable_tmux: False # Enables tmux statusbar 
  
  auto_stake_rewards: True
  auto_reclaim_full_restakes: True

  min_peers: 8 # Minimum number of peers to be considered healthy
  use_sudo: True # ONLY needs to be set True if you NEED to use sudo to run your ruskquery and rusk-wallet commands.
  
  ## These minimums are still checked to make sure it's worth doing vs missed potential rewards. 
  min_rewards: 1 # Minimum amount of rewards to consider claiming rewards to stake
  min_slashed: 1 # Minimum amount of slashed rewards from topoffs before considering restaking to reclaim
  
  # Replaced with using .env file (SEE INSTRUCTIONS), but still works as an alternative:
  # pwd_var_name: MY_WALLET_VARIABLE  # NAME OF THE ENVIRONMENT VARIABLE WITH THE PASSWORD! DO_NOT_ PUT IN YOUR DAMN PASSWORD HERE, FFS!
  #                                    # Make sure you read the instructions on exporting the environment variable.
  #                                    # OPTIONAL.  See instructions for .env file instead
  
  display_options: True                # Enable the Settings display at top of tool


WEB_DASHBOARD: # Default at http://localhost:5000
  enable_dashboard: True
  dash_port: 5000         # Port the Dashboard and API should listen on. Defaults to 5000
  dash_ip: 0.0.0.0        # Defaults to 0.0.0.0 for any IP, otherwise specific IP
  
  include_rendered: False # Include a render text of the console display in the API response
                          # Allows grabbing the whole thing to display easily, vs parsing and building a display because I got bored


NOTIFICATIONS:
  monitor_balance: True # Get notifications when balances change for Public or Shielded
  
  discord_webhook:     # Insert webhook to activate. Example: https://discord.com/api/webhooks/xxxxxxxxxx/XXXXXXXXX
  pushbullet_token:    # Leave Blank to Disable
  telegram_bot_token:  # Leave Blank to Disable
  telegram_chat_id:    # Leave Blank to Disable
  pushover_user_key:   # Leave Blank to Disable
  pushover_app_token:  # Leave Blank to Disable
  slack_webhook: # "https://hooks.slack.com/services/your/webhook/url"
  webhook_url:         # https://your-webhook-url.com/endpoint # For parsing with your own server/middleware

LOG_FILES:
  
  action_log:           # Defaults to ./duskman_actions.log
  error_log:            # Defaults to ./duskman_errors.log
  debug_log:            # Defaults to ./duskman_tmp_debug.log  :NOTE: Debug log is deleted on each start!
  
  debug: False          # Enable the debugging log. Debug log is deleted on each start!

STATUSBAR: # Determines what to show in tmux statusbar
# Also for Viewer
  show_current_block: True
  show_balance: True
  show_public: True
  show_shielded: True
  show_total: True
  show_staked: True
  show_rewards: True
  show_reclaimable: True
  show_price: True
  show_timer: True
  show_trigger_time: True
  show_peer_count: False


